@charset "UTF-8";

.dod-local .drop-area {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px black solid;
    background-color: #22dab1;
    align-items: center;
}

.dod-local .cont object {
    width: 100%;
}

.dod-local .cont video {
    width: 100%;
}

