@charset "UTF-8";

.dod-dom div.image-box {
    width: 90%;
    margin: 0 auto;
    height: 120px;
    padding: 0 10px;
    margin-bottom: 20px;
    border: 1px black solid;
    background-color: goldenrod;
    display: flex;
    align-items: center;
}

.dod-dom div.image-box img {
    margin: 0 5px;
}
